<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2><%= link_to "About me", welcome_path %></h2>
	<hr>

		<p>Just little about myself, I am Mindaugas of Lithuania (Vilnius). Me like to create different sites, applications, and not only :) </p>
		<p>From 2013, the year I was interested  and ....<%= link_to " more", welcome_path %></p>
	</div>
	<div class="col-2 homepage_content">

		<h2><%= link_to "Stuff I've Written", posts_path %></h2>
	<hr>
	<% @posts.each do |post| %>
		<h3><a href = "#"><%= link_to post.title, post %></a></h3>
		<p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
	<% end %>
	
</div>
	<div class="col-3 homepage_content">
		<h2><%= link_to "Stuff I've Built", projects_path %></h2>
	<hr>

		<% @projects.each do |project| %>
			<h3><a href = "#"><%= link_to project.title, project %></a></h3>
				<p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
		<% end %>
	</div>
</div>